<h1>About</h1>
 
<p>
  Spreedly Airlines is an app that you will build as part of your onboarding 
  process to get you familiar with how to use Spreedly, from our customer's 
  perspective. Here is your assignment:
</p>
 
<p>
 <em>Requirements</em> Build a Rails or Phoenix/Elixir (or other pre-approved 
 Spreedly relevant tech) web application that:
  <ul>
    <li>
      Runs locally (doesn't have to be deployed to Heroku or other)
    </li>
    <li>
      Does not have to use a database for persistence - can just be an 
      ephemeral workflow or store what little state there might be in a 
      user-specific cookie. You can use your local PG instance or sqlite, 
      though, if you find that to be easiest.
    </li>
  </ul>
</p>
