<header class="header">
  <nav>
    <ul class="header-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/spreedly">Spreedly</a></li>
      <li><a href="/result">Result</a></li>
    </ul>
  </nav>
</header>